@using MuseumProject.Helpers
@using MuseumProject.Models
@model AbstractInformationIndexModel
@{
    ViewBag.Title = "Новости";
}

<p>
    @if (User.IsInRole(ConstsHelper.AdministratorRole))
    {
        @Html.ActionLink("Создать новость", "Create", null, new { @class = "btn btn-success", role = "button" })    
    }
</p>

@Html.Partial("Partials/Paging", Model)

@foreach (var item in Model.Items)
{
    @Html.Partial("Partials/NewsPreview", (NewsModel)item)
}

