@model MuseumProject.Context.LoginModel

@{
    ViewBag.Title = "Выполнить вход";
}

@Html.Partial("Partials/LoginPreview")

<section class="social" id="socialLoginForm">
    <h2>Используйте для входа другую службу.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
